[Unit]
Description=DNSCrypt client proxy
Documentation=man:dnscrypt-proxy(8)
Requires=dnscrypt-proxy.socket
After=network.target
Before=nss-lookup.target

[Install]
Also=dnscrypt-proxy.socket
WantedBy=multi-user.target

[Service]
Type=simple
NonBlocking=true
EnvironmentFile=/etc/conf.d/dnscrypt-proxy
ExecStartPre=/bin/rm -f /var/run/dnscrypt-proxy.pid
ExecStart=/usr/sbin/dnscrypt-proxy \
   --local-address=${DNSCRYPT_LOCALIP}:${DNSCRYPT_LOCALPORT} \
   --resolver-name=${DNSCRYPT_RESOLVER_NAME} \
   --user=${DNSCRYPT_USER} \
   --resolvers-list=${DNSCRYPT_RESOLVERS_LIST}
Restart=on-abord

[Install]
WantedBy=multi-user.target
